services:
  nginx:
    restart: unless-stopped
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ./wetty-chat-mobile/www:/usr/share/nginx/html:ro # cd wetty-chat-mobile && npm ci && npm run build
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
  postgres:
    restart: unless-stopped
    image: postgres:18-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: wetty_chat
      POSTGRES_PASSWORD: NIM1gs7unjbQumYD
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    restart: unless-stopped
    build: backend
    ports:
      - 3000:3000
    environment:
      DATABASE_URL: postgresql://wetty_chat:NIM1gs7unjbQumYD@postgres:5432/wetty_chat
volumes:
  postgres_data: