.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.spacer {
  position: relative;
  width: 100%;
}

.item {
  position: absolute;
  left: 0;
  right: 0;
  will-change: transform;
}

.loadingRow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
  color: var(--ion-color-medium, #888);
}
